<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sts.services.survey.repository.survey.survey.SurveyMyBatisMapper">
    <resultMap id="SurveyQueryDtos" type="com.sts.services.survey.dto.SurveyQueryDto">
        <id property="id" column="survey_id"/>
        <result property="name" column="survey_name"/>
        <result property="description" column="survey_description"/>
        <result property="performTimeout" column="perform_timeout"/>
        <result property="passCorrectAnswerNumber" column="pass_correct_answer_number"/>
        <collection property="questions" ofType="com.sts.services.survey.dto.QuestionQueryDto">
            <id property="id" column="question_id"/>
            <result property="name" column="question_name"/>
            <result property="description" column="question_description"/>
            <result property="answerType" column="answer_type"/>
            <collection property="answers" ofType="com.sts.services.survey.dto.QuestionAnswerQueryDto">
                <id property="id" column="question_answer_id"/>
                <result property="name" column="question_answer_name"/>
                <result property="description" column="question_answer_description"/>
            </collection>
        </collection>
    </resultMap>

    <select id="getSurveys" resultMap="SurveyQueryDtos">
        SELECT
            s.survey_id, s.name AS survey_name, s.description AS survey_description, s.perform_timeout, s.pass_correct_answer_number,
            q.question_id, q.name AS question_name, q.description AS question_description, q.answer_type,
            qa.question_answer_id, qa.name AS question_answer_name, qa.description AS question_answer_description
        FROM survey s
            JOIN survey_question sq ON s.survey_id = sq.survey_id
            JOIN question q ON sq.question_id = q.question_id
            JOIN question_answer qa ON q.question_id = qa.question_id
        WHERE
            s.status = 'ACTIVE' AND q.status = 'ACTIVE' AND qa.status = 'ACTIVE'
    </select>

</mapper>
